<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/9gegpsmnsoo25ikkbl4qzlvlyjbgxs5x.png" width = 400> </a>

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the keras library. 

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item1">Download and Clean Dataset</a>
    
2. <a href="#item2">Import Keras</a>   

3. <a href="#item3">Build Neural Network</a>  

4. <a href="#item4">Train and Test Network</a>  

</font>
</div>

<a id="item1"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy library.

In [1]:
import pandas as pd
import numpy as np

We will playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different materials that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://ibm.box.com/shared/static/svl8tu7cmod6tizo6rk0ke4sbuhtpdfx.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfil the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import keras, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

## Build Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

<a id="item4"></a>

## Train and Test Network

In [14]:
# build the model
model = regression_model()

# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 1678.0504 - val_loss: 1173.7292
Epoch 2/100
 - 0s - loss: 1567.0019 - val_loss: 1079.2549
Epoch 3/100
 - 0s - loss: 1409.6320 - val_loss: 934.9570
Epoch 4/100
 - 0s - loss: 1160.2234 - val_loss: 734.9923
Epoch 5/100
 - 0s - loss: 835.1942 - val_loss: 499.9886
Epoch 6/100
 - 0s - loss: 516.5737 - val_loss: 298.8723
Epoch 7/100
 - 0s - loss: 312.8073 - val_loss: 196.5705
Epoch 8/100
 - 0s - loss: 248.4369 - val_loss: 169.7932
Epoch 9/100
 - 0s - loss: 228.4972 - val_loss: 166.6583
Epoch 10/100
 - 0s - loss: 215.2003 - val_loss: 163.6985
Epoch 11/100
 - 0s - loss: 205.2084 - val_loss: 161.6061
Epoch 12/100
 - 0s - loss: 196.5935 - val_loss: 161.0364
Epoch 13/100
 - 0s - loss: 189.9996 - val_loss: 156.3765
Epoch 14/100
 - 0s - loss: 183.9927 - val_loss: 155.1260
Epoch 15/100
 - 0s - loss: 178.6945 - val_loss: 152.7201
Epoch 16/100
 - 0s - loss: 174.2025 - val_loss: 152.8229
Epoch 17/100
 - 0s - loss: 170.3066 - val_loss: 150.0409
Epoch 18/100
 - 0s - loss: 166.7000 - val_loss: 147.7945
Epoch 19/100
 - 0s - loss: 163.7586 - val_loss: 149.6907
Epoch 20/100
 - 0s - loss: 160.0137 - val_loss: 146.2703
Epoch 21/100
 - 0s - loss: 157.1674 - val_loss: 143.8273
Epoch 22/100
 - 0s - loss: 154.8081 - val_loss: 143.2919
Epoch 23/100
 - 0s - loss: 152.9866 - val_loss: 141.2875
Epoch 24/100
 - 0s - loss: 150.5195 - val_loss: 142.2768
Epoch 25/100
 - 0s - loss: 148.2313 - val_loss: 141.3187
Epoch 26/100
 - 0s - loss: 146.5717 - val_loss: 142.1948
Epoch 27/100
 - 0s - loss: 145.1621 - val_loss: 141.0937
Epoch 28/100
 - 0s - loss: 143.0226 - val_loss: 140.8896
Epoch 29/100
 - 0s - loss: 141.9557 - val_loss: 140.2978
Epoch 30/100
 - 0s - loss: 140.0756 - val_loss: 140.5733
Epoch 31/100
 - 0s - loss: 139.1628 - val_loss: 140.0108
Epoch 32/100
 - 0s - loss: 137.7212 - val_loss: 141.5867
Epoch 33/100
 - 0s - loss: 136.4480 - val_loss: 141.4700
Epoch 34/100
 - 0s - loss: 134.9947 - val_loss: 140.8132
Epoch 35/100
 - 0s - loss: 133.6761 - val_loss: 140.0059
Epoch 36/100
 - 0s - loss: 132.4415 - val_loss: 142.2172
Epoch 37/100
 - 0s - loss: 131.0200 - val_loss: 141.6150
Epoch 38/100
 - 0s - loss: 129.9138 - val_loss: 141.1201
Epoch 39/100
 - 0s - loss: 128.7866 - val_loss: 141.7504
Epoch 40/100
 - 0s - loss: 127.2409 - val_loss: 144.2377
Epoch 41/100
 - 0s - loss: 126.7913 - val_loss: 142.2975
Epoch 42/100
 - 0s - loss: 124.6758 - val_loss: 141.8694
Epoch 43/100
 - 0s - loss: 123.8444 - val_loss: 145.1619
Epoch 44/100
 - 0s - loss: 122.1248 - val_loss: 141.9862
Epoch 45/100
 - 0s - loss: 121.6727 - val_loss: 144.7090
Epoch 46/100
 - 0s - loss: 120.5545 - val_loss: 140.6775
Epoch 47/100
 - 0s - loss: 118.7541 - val_loss: 144.5856
Epoch 48/100
 - 0s - loss: 118.2652 - val_loss: 142.6311
Epoch 49/100
 - 0s - loss: 117.1201 - val_loss: 145.1302
Epoch 50/100
 - 0s - loss: 114.8000 - val_loss: 141.6380
Epoch 51/100
 - 0s - loss: 113.1980 - val_loss: 141.5937
Epoch 52/100
 - 0s - loss: 111.9218 - val_loss: 143.7457
Epoch 53/100
 - 0s - loss: 109.9469 - val_loss: 140.0305
Epoch 54/100
 - 0s - loss: 108.5183 - val_loss: 140.2316
Epoch 55/100
 - 0s - loss: 107.2192 - val_loss: 142.3860
Epoch 56/100
 - 0s - loss: 105.0806 - val_loss: 138.8839
Epoch 57/100
 - 0s - loss: 103.9053 - val_loss: 141.4632
Epoch 58/100
 - 0s - loss: 101.3501 - val_loss: 141.9757
Epoch 59/100
 - 0s - loss: 99.6267 - val_loss: 140.0056
Epoch 60/100
 - 0s - loss: 97.6241 - val_loss: 137.9329
Epoch 61/100
 - 0s - loss: 95.6866 - val_loss: 139.5733
Epoch 62/100
 - 0s - loss: 93.7463 - val_loss: 134.0505
Epoch 63/100
 - 0s - loss: 91.8340 - val_loss: 138.8413
Epoch 64/100
 - 0s - loss: 89.6623 - val_loss: 132.7182
Epoch 65/100
 - 0s - loss: 87.8558 - val_loss: 136.1403
Epoch 66/100
 - 0s - loss: 85.4808 - val_loss: 130.2610
Epoch 67/100
 - 0s - loss: 83.1965 - val_loss: 134.0408
Epoch 68/100
 - 0s - loss: 81.0585 - val_loss: 132.6507
Epoch 69/100
 - 0s - loss: 78.7076 - val_loss: 133.0235
Epoch 70/100
 - 0s - loss: 76.3955 - val_loss: 131.8837
Epoch 71/100
 - 0s - loss: 73.8317 - val_loss: 128.6587
Epoch 72/100
 - 0s - loss: 71.8081 - val_loss: 129.4532
Epoch 73/100
 - 0s - loss: 69.4064 - val_loss: 130.0560
Epoch 74/100
 - 0s - loss: 67.0782 - val_loss: 131.2911
Epoch 75/100
 - 0s - loss: 64.3576 - val_loss: 130.2247
Epoch 76/100
 - 0s - loss: 63.1174 - val_loss: 125.7768
Epoch 77/100
 - 0s - loss: 60.7094 - val_loss: 129.4091
Epoch 78/100
 - 0s - loss: 58.3692 - val_loss: 128.1746
Epoch 79/100
 - 0s - loss: 57.5249 - val_loss: 127.6407
Epoch 80/100
 - 0s - loss: 56.1839 - val_loss: 123.1703
Epoch 81/100
 - 0s - loss: 54.0207 - val_loss: 126.3910
Epoch 82/100
 - 0s - loss: 53.0260 - val_loss: 123.0278
Epoch 83/100
 - 0s - loss: 52.0748 - val_loss: 125.6022
Epoch 84/100
 - 0s - loss: 51.2249 - val_loss: 123.9770
Epoch 85/100
 - 0s - loss: 50.2878 - val_loss: 124.0316
Epoch 86/100
 - 0s - loss: 49.0097 - val_loss: 122.1938
Epoch 87/100
 - 0s - loss: 48.3175 - val_loss: 125.9822
Epoch 88/100
 - 0s - loss: 48.0217 - val_loss: 130.9186
Epoch 89/100
 - 0s - loss: 47.1217 - val_loss: 121.2025
Epoch 90/100
 - 0s - loss: 45.5817 - val_loss: 130.9592
Epoch 91/100
 - 0s - loss: 44.6493 - val_loss: 121.2903
Epoch 92/100
 - 0s - loss: 43.7556 - val_loss: 123.9863
Epoch 93/100
 - 0s - loss: 42.8462 - val_loss: 122.5406
Epoch 94/100
 - 0s - loss: 41.8719 - val_loss: 126.3977
Epoch 95/100
 - 0s - loss: 41.3879 - val_loss: 126.4921
Epoch 96/100
 - 0s - loss: 40.3841 - val_loss: 125.3037
Epoch 97/100
 - 0s - loss: 39.8375 - val_loss: 117.5845
Epoch 98/100
 - 0s - loss: 39.1709 - val_loss: 126.4094
Epoch 99/100
 - 0s - loss: 38.4054 - val_loss: 119.7086
Epoch 100/100
 - 0s - loss: 37.9637 - val_loss: 128.3457

<strong>You can refer to this [link](https://keras.io/models/sequential/) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase of decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!

This notebook was created by [Alex Aklson](https://www.linkedin.com/in/aklson/). I hope you found this lab interesting and educational. Feel free to contact me if you have any questions!

This notebook is part of a course on **edX** called *Deep Learning Fundamentals with Keras*. If you accessed this notebook outside the course, you can take this course online by clicking [here](http://cocl.us/DL0101EN_edX_Week3_LAB1).

<hr>

Copyright &copy; 2018 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).